:root {
  --bgcolor: #222;
  --heading: #ffff57;
  --text: #ccc;
  --hover: #fff;
  --bgcard: #2f2f2f;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bgcolor);
  color: var(--text);
  text-align: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: var(--heading);
  font-size: 4em;
  letter-spacing: 2px;
}
h2 {
   margin-left: 10px;
}
button{
  margin: 0 10px;
  background: transparent;
  border: 2px solid var(--text);
  border-radius: 10px;
  padding: 10px;
  color: var(--text);
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  color: var(--bgcolor);
  border-color: var(--text);
  background-color: var(--text);
  transition: all 0.3s ease;
}
.content{
  text-align: left;
}

.card{
  padding: 8px 16px;
  background: var(--bgcard);
  margin: 16px 0;
  border-radius: 10px;
}
.card p{
  margin: 6px 0;
  color: var(--text);
}
.card h3{
  margin: 10px 0;
  color: var(--heading);
}